//- section.nav-fixed
//-     input(type="checkbox" class="nav-fixed__checkbox" id="nav-checkbox")
//-     label(for="nav-checkbox").nav-fixed__button
//-     .nav-icon
//-     .nav-fixed__background
section.banner
    .banner__logo
        a(href="")
            img(src="../images/logo-white.png", alt="")
    .banner__text-box
        h1.heading-primary
            span.heading-primary--main Outdoors
            span.heading-primary--sub is where life happens
        button.btn.btn--primary.btn--top Discover our tours

section.adventure
    h2.heading-secondary.text-center.pb-5 Exciting tours for adventurous people
    .row
        .col-1-of-2
            h3.heading-sub.pb-1= text
            p.paragraph= dummy
            h3.heading-sub.pb-1= text
            p.paragraph= dummy
            a(href="#").btn-outline.text-success Learn more &rarr;
        .col-1-of-2.composition
            .composition__item
                img(src="../images/nat-1.jpg", alt="nat1")
            .composition__item
                img(src="../images/nat-2.jpg", alt="nat2")
            .composition__item
                img(src="../images/nat-3.jpg", alt="nat3")
section.benefits
    mixin benefits-block(args)
        .benefits-card.text-center
            i(class=args.icon)
            h3.heading-sub.pb-1= args.title || "Title default"
            p.paragraph= args.desc || "Lorem ipsum dolor sit amet"
    .row
        .col-1-of-4
            +benefits-block({
                icon: "icon-basic-world",
                title: "Beatae eum facilis",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur."
            })
        .col-1-of-4
            +benefits-block({
                icon: "icon-basic-compass",
                title: "Beatae eum facilis",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur."
            })
        .col-1-of-4
            +benefits-block({
                icon: "icon-basic-map",
                title: "Beatae eum facilis",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur."
            })
        .col-1-of-4
            +benefits-block({
                icon: "icon-basic-heart",
                title: "Beatae eum facilis",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur."
            })
section.popular
    mixin card(args)
        .card
            .card__side.card__side--front
                .card__side__heading(class=args.heading)
                h4.card__side__title
                    span.card__side__title-span(class=args.sub)= args.title
                .card__side__content
                    ul
                        li= args.content1
                        li= args.content2
                        li= args.content3
                        li= args.content4
                        li= args.content5
            .card__side.card__side--back.text-center(class=args.back)
                .card__side__text
                    span Only
                .card__side__price
                    span= args.price
                button.btn.btn--primary Book now!
    h2.heading-secondary.text-center.pb-5 MOST POPULAR TOURS
    .row
        .col-1-of-3
            +card({
                heading: "card__side__heading--1",
                sub: "card__side__title-span--1",
                title: "The sea explorer",
                back: "card__side--back--1",
                content1: "Lorem ipsum dolor",
                content2: "Lorem ipsum dolor",
                content3: "Lorem ipsum dolor",
                content4: "Lorem ipsum dolor",
                content5: "Lorem ipsum dolor",
                price: "297$"
            })
        .col-1-of-3
            +card({
                heading: "card__side__heading--2",
                sub: "card__side__title-span--2",
                title: "The sea explorer",                
                back: "card__side--back--2",
                content1: "Lorem ipsum dolor",
                content2: "Lorem ipsum dolor",
                content3: "Lorem ipsum dolor",
                content4: "Lorem ipsum dolor",
                content5: "Lorem ipsum dolor",
                price: "385$"
            })
        .col-1-of-3
            +card({
                heading: "card__side__heading--3",
                sub: "card__side__title-span--3",
                title: "The sea explorer",                
                back: "card__side--back--3",
                content1: "Lorem ipsum dolor",
                content2: "Lorem ipsum dolor",
                content3: "Lorem ipsum dolor",
                content4: "Lorem ipsum dolor",
                content5: "Lorem ipsum dolor",
                price: "115$"
            })
    .row
        .card__footer.text-center.mt-5
            button.btn.btn--success Discover all tours     
section.quote
    mixin quote-box(args)
        .quote__box
            figure.quote__box__image
                img(src=args.img, alt="")
                figcaption.quote__box__caption= args.name
            .quote__box__text
                .heading-sub.mt-4= args.heading || "Heading default"
                .paragraph.mt-1= args.paragraph || "Paragraph default"
    
    .bg-video
        video(autoplay muted loop).bg-video__content
            source(src="../images/video.mp4", type="video/mp4")
            source(src="../images/video.webm", type="video/webm")
    //- .quote__inner
    h2.heading-secondary.text-center.pb-5 WE MAKE PEOPLE GENUINELY HAPPY
    +quote-box({
        img: "../../images/nat-8.jpg",
        name: "Mary smith",
        heading: "I HAD THE BEST WEEK EVER WITH MY FAMILY",
        paragraph: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui."
    })
    +quote-box({
        img: "../../images/nat-9.jpg",
        name: "Jack Willson",
        heading: "I HAD THE BEST WEEK EVER WITH MY FAMILY",
        paragraph: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui."
    })
    .quote_read.text-center
        a(href="#").btn-outline.text-success Read all stories &rarr;
section.booking
    .booking-box
        .booking-box__form
            h2.heading-secondary.pb-4 Start booking now
            form(action="" method="")
                .form-group
                    input(type="text" placeholder="Full name" required).form-input.form-control
                    label.form-label Full name
                .form-group
                    input(type="email" placeholder="Email address" required).form-input.form-control
                    label.form-label Email addres
                .form-group
                        label
                            input(type="radio" name="tour")
                            | Small tour group
                        label
                            input(type="radio" name="tour")
                            | Large tour group
                button.btn.btn--success Next step &rarr;